/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #7c5a5a;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 32px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    
}
