/*Import googlr fonts - poppins*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}

body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #e3f2fd;
}
.container{
      position: relative;
      width: 100%;
      max-width: 380px;
      height: 250px;
      background-image: url(/Credit-card-design/Images/bg.jpg);
      background-size: cover;

      border-radius: 28px; 
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
      padding: 25px;
      color: #fff;
} 
header,
 .logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.logo img{
      width: 48px;
      margin-right: 10px;
}

h5{
      color: #fff;
      font-weight: 400;
      color: #fff;
}

header .chip{ 
      width: 60px;
}

h6{
      color: fff;
      font-size: 12px;
      font-weight: 400;
}

h5.number{
      margin-top: 5px;
      font-size: 18px;
      letter-spacing: 1px;
}

h5.name{
      margin-top: 40px;
}

.container .card-details{
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
}